/**
* Used for the overall design of our app
*/
.toggleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.toggleContainer > p {
    margin-right: 1em;
}