/**
 * FR2, FR3, FR4, FR5, FR6, FR7, FR8, FR9, FR10, FR11, FR13, FR14, FR15, FR16, FR17, FR18, FR19
 * 
 * This is our main screen for our app. 
 */
:root {
  --background: #383F51;
  --text: #DDDBF1;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

.logo {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 1vh;
  left: 1vh;
  z-index: 10;
  box-shadow: #282c34 10 10;
}

.signinButton {
  position: fixed !important;
  top: 1vh;
  right: 1vh;
  z-index: 10;
  background-color: var(--background) !important;
  color: var(--text) !important;
  box-shadow: var(--text) 0px 0px 10px;
}

.microphoneButton {
  position: fixed !important;
  top: 1vh;
  right: 15vh;
  z-index: 10;
  background-color: var(--background) !important;
  color: var(--text) !important;
  box-shadow: var(--text) 0px 0px 10px;
}

.averageButton {
  position: fixed !important;
  top: 8vh;
  right: 15vh;
  z-index: 10;
  background-color: var(--background) !important;
  color: var(--text) !important;
  box-shadow: var(--text) 0px 0px 10px;
}

.addButton {
  width: 50px;
  height: 50px;
  border-radius: 10% !important;
  background-color: var(--background) !important;
  margin: 0 1rem !important;
  color: var(--text) !important;
  box-shadow: var(--text) 0px 0px 10px;
}

.homeButton {
  position: fixed !important;
  top: 1vh;
  right: 1vh;
  z-index: 10;
  background-color: var(--background) !important;
  color: var(--text) !important;
  box-shadow: var(--text) 0px 0px 10px;
}

.buttonContainer {
  position: fixed !important;
  bottom: 3vh;
  right: 1vh;
  z-index: 10;
  border-radius: 10px !important;
}