/**
 * FR7 - User.ViewDashboard
 */
.drawer {
    min-height: 25vh !important;
}

.paper {
    background: #ab9f9d;
    padding: 2em;
    overflow: hidden;
}

.chart {
    max-height: 40vh;
    height: 50vw;
    width: 100%;
}

.chartContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: #DDDBF1 0 0 2px;
    border-radius: 10px;
}

.levelCard {
    margin: 1em;
    box-shadow: #DDDBF1 0 0 2px;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
}

.levelCardTitle {
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

.levelCardTitle > p {
    margin-bottom: 0;
}

.levelCardContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.description > * {
    margin: 0 0 0 0.5em
}

.dashboardButtonContainer {
    position: absolute !important;
    right: 1em;
    top: 1em;
}

.favoriteButton {
    background-color: var(--background) !important;
    color: var(--text) !important;
    box-shadow: var(--text) 0 0 10px;
    transition: 0.5s;
}

.editButton {
    right: 5em;
    top: 0.9em;
    background-color: var(--background) !important;
    color: var(--text) !important;
    box-shadow: var(--text) 0 0 10px;
    transition: 0.5s;
    width: 50px;
    height: 50px;
    border-radius: 10% !important;
}