.drawer {
    min-height: 25vh !important;
}

.paper {
    background-color: #D1BEB0;
    padding: 2em;
    overflow: hidden;
}

.chart {
    max-height: 40vh;
    height: 50vw;
    width: 100%;
}

.chartContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.levelCard {
    margin: 1em;
    background-color: #AB9F9D;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
}

.levelCardContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.favoriteButton {
    position: absolute !important;
    right: 1em;
    top: 1em;
    background-color: var(--background) !important;
    color: var(--text) !important;
    box-shadow: var(--text) 0 0 10px;
    transition: 0.5s;
}